* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

/*Login*/
.ltm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ltf {
    display: flex;
    flex-direction: column;
}