* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(149,184,209);
    background: linear-gradient(90deg, rgba(149,184,209,1) 0%, rgba(184,224,210,1) 35%, rgba(250,210,225,1) 100%);
}

:root {
    --secondarycolor: #fafafa;
    --accentcolor1: #c8b6ff;
    --accentcolor1-dark: #4a3c75;
    --accentcolor2: #e7c6ff;
    --accentcolor2-dark: #e998eb;
}

/*Navbar*/
nav {
    position: fixed;
    width: 100vw;
    min-height: 8vh;
    background-color: var(--secondarycolor);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    z-index: 10;
}

.navbar-img {
    flex: 7.5;
    padding: 0 2.5vw 0 5vw;
}

.navbar-img img {
    width: 10vw;
    filter: invert();
}

.navbar-left {
    flex: 60;
}

.navbar-right {
    flex: 12.5;
}

.navbar-links a {
    padding: 0 1vw;
    text-decoration: none;
    transition: 0.2s;
}

.navbar-link1-color, .navbar-link2-color, .navbar-link3-color {
    color: #141414;
}
.navbar-link1-color:hover {
    color: #259a9f;
}
.navbar-link2-color:hover {
    color: #259f2e;
}
.navbar-link3-color:hover {
    color: #d9307d;
}

.navbar-link4-color {
    color: var(--accentcolor1);
}
.navbar-link4-color:hover {
    color: var(--accentcolor1-dark);
}


/*Login en Register*/
    /*lr = Login en Register*/
.lr-box {
    border-radius: 7.5px;
    padding: 1vh 2vw;
    width: 27.5vw;
    background-color: var(--secondarycolor);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

.lr-box img {
    width: 12.5vw;
    filter: invert();
}

.lr-label {
    padding-bottom: 1.5vh;
    font-size: 1.2em;
    font-weight: bold;
}

.lr-label-small {
    font-size: 0.9em !important;
    color: #262626;
}

.lr-input {
    margin-bottom: 2vh;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw;
    background-color: var(--secondarycolor)
}

.lr-select {
    flex: 48;
    margin: 0 1vw;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw;
    height: fit-content;
    background-color: var(--secondarycolor);
}

.lr-button {
    margin-top: 2vh;
    border: none;
    border-radius: 5px;
    padding: 1.5vh 0;
    background-color: var(--accentcolor2);
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
}

.lr-button:hover {
    background-color: var(--accentcolor2-dark);
}

.lr-box-bottom {
    font-size: 0.9em;
    color: #141414;
}

.lr-box-bottom a {
    color: var(--accentcolor1);
    text-decoration: none;
    transition: 0.25s;
}

.lr-box-bottom a:hover {
    color: var(--accentcolor1-dark);
    text-decoration: underline;
}


/*Home*/
.background-img {
    flex: 67.5;
    background-color: var(--secondarycolor);
}

.background-img img {
    width: 100%;
    filter: /*blur(3px)*/ grayscale(0.5) saturate(2.4) hue-rotate(349deg);
}

.top-content {
    flex: 32.5;
    background-color: var(--accentcolor1);
}

.top-content h1 {
    padding: 0 4vw;
    font-size: 2em;
    font-weight: bold;
    color: var(--secondarycolor);
}