* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(149,184,209);
    background: linear-gradient(90deg, rgba(149,184,209,1) 0%, rgba(184,224,210,1) 35%, rgba(250,210,225,1) 100%);
}

:root {
    --whitecolor: #fafafa;
    --blackcolor: #141414;
    --accentcolor1: #a480f2;
    --accentcolor1-dark: #6053b0;
    --accentcolor2: #ea9ab2;
    --accentcolor2-dark: #e27396;
}


/*  Navbar  */
nav {
    position: absolute;
    width: 100%;
    min-height: 10vh;
    z-index: 10;
}

.navbar-img {
    flex: 7.5;
    padding: 0 2.5vw 0 5vw;
}

.navbar-img img {
    width: 10vw;
}

.navbar-left {
    flex: 70;
}

.navbar-right {
    flex: 12.5;
}

.navbar-links a {
    padding: 0 1vw;
    text-decoration: none;
    transition: 0.2s;
    font-size: 1.125em;
    font-weight: 600;
}

.navbar-link1-color, .navbar-link2-color, .navbar-link3-color {
    color: var(--whitecolor);
}
.navbar-link1-color:hover {
    color: #259a9f;
}
.navbar-link2-color:hover {
    color: #259f2e;
}
.navbar-link3-color:hover {
    color: #d9307d;
}

.navbar-link4-color {
    color: var(--accentcolor1);
}
.navbar-link4-color:hover {
    color: var(--accentcolor1-dark);
}

.navbar-button1 {
    margin-right: 0.5vw;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 1vh 1vw !important;
    color: var(--accentcolor1);
}

.navbar-button1:hover {
    border: 2px solid var(--accentcolor1-dark);
    color: var(--accentcolor1-dark);
}

.navbar-button2 {
    border: 1px solid var(--accentcolor1);
    border-radius: 10px;
    padding: 1vh 1vw !important;
    background-color: var(--accentcolor1);
    color: var(--whitecolor);
}

.navbar-button2:hover {
    border: 1px solid var(--accentcolor1-dark);
    background-color: var(--accentcolor1-dark);
    color: var(--whitecolor);
}

.navbar-user-name {
    padding: 0 1.1vw;
    color: var(--whitecolor);
    font-size: 1.15em;
    font-weight: 600;
    cursor: default;
}

.navbar-user-img-box {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: var(--accentcolor1);
    transition: 0.2s;
    cursor: pointer;
}

.navbar-user-img-box:hover {
    background-color: var(--accentcolor1-dark);
}

    /* Navbar Account Dropdown */
.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: -15vw;
    border-radius: 5px;
    min-width: 15vw;
    top: 4vh;
    background-color: var(--whitecolor);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    overflow: auto;
    z-index: 10;
}

.dropdown-content a {
    display: flex;
    padding: 2vh 1vw;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: var(--blackcolor);
}

.dropdown-line {
    border-top: 1px solid #dadada;
}

.dropdown-content img {
    width: 20px;
    margin-right: 1vw;
}
  
.dropdown a:hover {
    background-color:#ebebeb;
}
  
.show {
    display: block;
}


/*  Home Page/Index Page   */
.white-shape {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--whitecolor);
    -webkit-clip-path: polygon(0% 15%, 0% 100%, 100% 100%);
    clip-path: polygon(0% 15%, 0% 100%, 100% 100%);
    z-index: 2;
}

.background-img {
    flex: 67.5;
    position: relative;
    width: 100%;
    height: 100vh;
    filter: grayscale(0.5) saturate(2.4) hue-rotate(349deg);
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 50% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 50% 100%, 0% 100%);
    z-index: 3;
}

/*Login en Register*/
    /*lr = Login en Register*/
.lr-box {
    border-radius: 7.5px;
    padding: 1vh 2vw;
    width: 27.5vw;
    background-color: var(--whitecolor);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.15);
}

.lr-box img {
    width: 12.5vw;
    filter: invert();
}

.lr-label {
    padding-bottom: 1.5vh;
    font-size: 1.2em;
    font-weight: bold;
}

.lr-label-small {
    font-size: 0.9em !important;
    color: #262626;
}

.lr-input {
    margin-bottom: 2vh;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw;
    background-color: var(--whitecolor)
}

.lr-select {
    margin: 0 1vw;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw;
    height: fit-content;
    background-color: var(--whitecolor);
}

.lr-button {
    margin-top: 2vh;
    border: none;
    border-radius: 5px;
    padding: 1.5vh 0;
    background-color: var(--accentcolor2);
    color: #ffffff;
    cursor: pointer;
    transition: 0.25s;
}

.lr-button:hover {
    background-color: var(--accentcolor2-dark);
}

.lr-box-bottom {
    font-size: 0.9em;
    color: #141414;
}

.lr-box-bottom a {
    color: var(--accentcolor1);
    text-decoration: none;
    transition: 0.25s;
}

.lr-box-bottom a:hover {
    color: var(--accentcolor1-dark);
    text-decoration: underline;
}

.lr-error-span {
    padding-bottom: 0.75vh;
    font-size: 0.85em;
    color: #ed2f21;
}

.lr-error-input {
    border: 1px solid red !important;
    border-radius: 4px;
}

/*  Dashboard   */
.dashboard-link-list {
    margin-right: 1vw;
    border-radius: 10px;
    width: 15vw;
    height: fit-content;
    background-color: var(--whitecolor);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}

.dashboard-box h1 {
    border-bottom: 1px solid #dadada;
    padding: 2vh 1vw;
    font-size: 1.2em;
}

.dashboard-link-list a {
    display: flex;
    padding: 2vh 1vw;
    align-items: center;
    font-size: 1em;
    color: var(--blackcolor);
    text-decoration: none;
}

.dashboard-link-list a:hover {
    background-color: #ebebeb;
}

.dashboard-link-list img {
    margin-right: 1vw;
    width: 24px;
}

.dashboard-link-selected {
    font-weight: 600;
}

.dashboard-content {
    border-radius: 10px;
    width: 37.5vw;
    background-color: var(--whitecolor);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
}

.dashboard-content label {
    font-size: 1em;
    font-weight: 600;
}

.dashboard-content h2 {
    margin: 2vh 0 1vh -1vw;
    border-top: 1px solid #dadada;
    padding: 1vh 0;
    font-size: 1.2em;
}

.dashboard-account {
    padding: 2vh 1.5vw 2vh 3vw;
}

.dashboard-account-content {
    display: flex;
    padding: 1vh 0 2vh 0;
}

.dashboard-account-content p, .dashboard-account-content input {
    flex: 90;
}

.dashboard-account-content span {
    flex: 10;
    color: var(--accentcolor1);
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}

.dashboard-account-content span:hover {
    color: var(--accentcolor1-dark);
    text-decoration: underline;
}

.edit-acc-btn, .edit-acc-btn2, .edit-acc-btn3, .edit-acc-btn4, .edit-acc-btn5, .edit-acc-btn6, .edit-acc-btn7 {
    border: 2px solid var(--accentcolor1);
    border-radius: 6px;
    padding: 1vh 1vw;
    background-color: var(--accentcolor1);
    color: var(--whitecolor);
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.edit-acc-btn:hover, .edit-acc-btn2:hover, .edit-acc-btn3:hover, .edit-acc-btn4:hover, .edit-acc-btn5:hover, .edit-acc-btn6:hover, .edit-acc-btn7:hover {
    border: 2px solid var(--accentcolor1-dark);
    background-color: var(--accentcolor1-dark);
    color: var(--whitecolor);
}

.dashboard-account-content-hide {
    display: none !important;
}

.dashboard-account-content-reveal {
    display: flex !important;
}

.dashboard-input, .dashboard-input-age {
    margin-right: 7.5vw;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw 1vh 0.5vw;
    background-color: var(--whitecolor)
}

.dashboard-input-age {
    flex: none !important;
    width: 5vw;
}

.dashboard-select {
    margin: 0 1vw;
    border: none;
    border-bottom: 1px solid var(--accentcolor1);
    padding: 1vh 1vw;
    width: 8.5vw;
    height: fit-content;
    background-color: var(--whitecolor);
}

.dashboard-delete-button {
    border: 2px solid #ed2f21;
    border-radius: 6px;
    padding: 1vh 1vw;
    background-color: transparent;
    color: #ed2f21;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.dashboard-delete-button:hover {
    background-color: #ed2f21;
    color: var(--whitecolor);
}

.dashboard-content table {
    border-collapse: collapse;
}

.dashboard-content tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dashboard-content td, .dashboard-content th {
    padding: 1.5vh 0;
    width: 10vw;
    text-align: center;
}

.dashboard-content table a {
    color: var(--accentcolor1);
    text-decoration: none;
    transition: 0.2s;
}

.dashboard-content table a:hover {
    color: var(--accentcolor1-dark);
    text-decoration: underline;
}

.dashboard-delete-button {
    border: 2px solid #ed2f21;
    border-radius: 6px;
    padding: 1vh 1vw;
    background-color: transparent;
    color: #ed2f21;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.dashboard-delete-button:hover {
    background-color: #ed2f21;
    color: var(--whitecolor);
}

/*--    Inplannen   --*/
    /* Inpl = Inplannen */
.inpl-box {
    width: 60vw;
}

.inpl-box-top {
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 0.5vh 0;
    background-color: var(--whitecolor) ;
}

.inpl-box-top button{
    border: none;
    border-radius: 10px;
    padding: 0 0.5vw;
    font-size: 1.75em;
    background-color: var(--whitecolor);
    cursor: pointer;
}

.inpl-box-top button:hover {
    background-color: var(--accentcolor2);
}

.inpl-box-top h2 {
    padding: 0 1vw;
    font-size: 1.1em;
    font-weight: 500;
}

.inpl-box table {
    border-radius: 10px;
    width: 60vw;
    background-color: var(--whitecolor);
}

.inpl-box th {
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 1vh 0;
    width: 10vw;
}

.inpl-box td {
    border-right: 1px solid #dadada;
    padding: 4vh 0;
    text-align: center;
    cursor: pointer;
}

.inpl-box td:hover {
    background-color: #dadada;
}

/*  No Account  */
.no-account-content {
    color: var(--blackcolor);
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
}

.no-account-content a {
    color: var(--accentcolor1);
    text-decoration: none;
    transition: 0.2s;
}

.no-account-content a:hover {
    color: var(--accentcolor1-dark);
    text-decoration: underline;
}